@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
}

body{
	background-color: #4B4254;
}

.grid-container{
	display: grid;
	grid-template:
	"header header header"        50px
	"nav nav nav"                 50px
	"section section section"   520px
	"footer footer footer" 		  100px 
	;
}

.header{
	grid-area: header;
	background-color: #290252;
}

.Micrositio{
	margin-left: 4%;
	margin-top: 3%;
	font-size: 30px;
	text-decoration: none;
	color: #ffffff;
}

.Micrositio:hover{
	background-color: #662594;
}




.nav{
	grid-area: nav;
	background-color: #4F059E;
}

#botonera{
	margin: 0;
	width: 60%;
	background-color: #4F059E;
	margin-left: auto;
	margin-right: auto;
}

#botonera li {
	display: inline;
}

#botonera li a {
	font-size: 30px;
	text-decoration: none;
	color: #ffffff;
	padding-left: 9%;
	padding-top: 10%;
}

.navdos{
	width: 100%;
	height: 100px;
	background-color: #9455D9;
}



.section{
	grid-area: section;
	background-color: #9455D9;
}

.uno{
	width: 50%;
	height: 850px;
	float: left;
	background-color: #9455D9;
}

.dos{
	width: 50%;
	float: right;
	height: 850px;
	background-color: #9455D9;
}

.fondodiseno{
	height: 700px;
}

.derecha{
	float: right;
	margin-right: 8%;
	margin-top: 15%;
}






.footer{
	grid-area: footer;
	background-color: #290252;
}

.logoup{
	margin-left: 5%;
	margin-top: 1%;
	float: left;
}

.agus{
	color: #ffffff;
	float: left;
	margin-left: 30%;
	margin-top: 4%;
}





.parrafointegrador{
	color: #ffffff;
	text-align: left;
	font-size: 20px;
	width: 40%;
	height: 160px;
	background-color: #662594;
	margin-left: 5%;
	margin-top: 10%;
	padding-top: 2%;
	padding-right: 3%;
	padding-left: 3%;
	clear: left;
}


.parrafocromatico{
	color: #ffffff;
	text-align: left;
	font-size: 20px;
	width: 58%;
	height: 70px;
	background-color: #662594;
	margin-left: 5%;
	padding-top: 2%;
	padding-right: 1%;
	padding-left: 1%;
}

.paleta{
	color: #ffffff;
	text-align: left;
	width: 250px;
	font-size: 25px;
	background-color: #662594;
	clear: left;
	margin-top: 10%;
	margin-left: 5%;
	padding-top: 1%;
	padding-right: 3%;
	padding-left: 3%;
}

.colores{
	margin-left: 5%;
}

.tipografia{
	color: #ffffff;
	text-align: left;
	width: 16%;
	font-size: 25px;
	background-color: #662594;
	clear: left;
	margin-top: 4%;
	margin-left: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 3%;
	padding-left: 3%;
}

.parrafotipografia{
	color: #ffffff;
	text-align: left;
	font-size: 20px;
	width: 48%;
	height: 60px;
	background-color: #662594;
	margin-left: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 1%;
	padding-left: 1%;
}

.roboto{
	color: #ffffff;
	text-align: left;
	width: 280px;
	font-size: 25px;
	background-color: #662594;
	clear: left;
	margin-top: 4%;
	margin-left: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 3%;
	padding-left: 3%;
}

.letras{
	color: #ffffff;
	text-align: left;
	width: 400px;
	font-size: 20px;
	background-color: #662594;
	clear: left;
	margin-left: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 1%;
	padding-left: 1%;
}

.titulomapa{
	color: #ffffff;
	background-color: #662594;
	text-align: center;
	font-size: 40px;
	margin-top: 8%;
	padding-right: 3%;
	padding-left: 3%;
	float: left;
	margin-left: 5%;
}

.mapadesitio{
	margin-top: 5%;
	margin-left: 15%;
}

.galeria01{
	clear: left;
	margin-left: 5%;
	padding-top: 2%;
}

.fondoweb{
	height: 1700px;
}






/*PAGINA DISEÑO*/
.grid-diseno{
	display: grid;
	grid-template:
	"header header header"        50px
	"nav nav nav"                 50px
	"section section section"   800px
	"footer footer footer" 		  100px 
	;
}


.header2{
	grid-area: header;
	background-color: #290252;
}




.nav2{
	grid-area: nav;
	background-color: #4F059E;
}




.section2{
	grid-area: section;
	background-color: #9455D9;
}



.footer2{
	grid-area: footer;
	background-color: #290252;
}

















/*PAGINA DISEÑO*/
.grid-web{
	display: grid;
	grid-template:
	"header header header"        50px
	"nav nav nav"                 50px
	"section section section"   4200px
	"footer footer footer" 		  100px 
	;
}


.header3{
	grid-area: header;
	background-color: #290252;
}




.nav3{
	grid-area: nav;
	background-color: #4F059E;
}




.section3{
	grid-area: section;
	background-color: #9455D9;
}

.subtitulo{
	color: #ffffff;
	background-color: #662594;
	text-align: center;
	font-size: 40px;
	width: 600px;
	margin-top: 3%;
	padding-right: 3%;
	padding-left: 3%;
	margin-left: 5%;	
}

.t1200{
	color: #ffffff;
	text-align: left;
	font-size: 25px;
	width: 200px;
	height: 30px;
	background-color: #662594;
	padding-left: 1%;
	margin-left: 10%;
	margin-top: 1%;
	float: left;
}

.p1200{
	margin-left: 5%;
	clear: left;
	float: left;
	margin-top: 5%;
}




.t992{
	color: #ffffff;
	text-align: left;
	font-size: 25px;
	width: 180px;
	height: 30px;
	background-color: #662594;
	float: right;
	margin-right: 20%;
	padding-left: 1%;
}

.p992{
	clear: right;
	float: right;
	margin-top: 3%;
	margin-right: 10%;
}

.t768{
	color: #ffffff;
	text-align: left;
	font-size: 25px;
	width: 200px;
	height: 30px;
	background-color: #662594;
	padding-left: 1%;
	margin-left: 10%;
	margin-top: 10%;
	clear: left;
	float: left;
}

.p768{
	margin-left: 5%;
	clear: left;
	float: left;
	margin-top: 5%;
}


.t576{
	color: #ffffff;
	text-align: left;
	font-size: 25px;
	width: 180px;
	height: 30px;
	background-color: #662594;
	float: right;
	margin-top: 5%;
	margin-right: 20%;
	padding-left: 1%;
}

.p576{
	clear: right;
	float: right;
	margin-top: 3%;
	margin-right: 10%;
}



.tamanios1{
	color: #ffffff;
	text-align: left;
	font-size: 20px;
	width: 180px;
	height: 30px;
	background-color: #662594;
	margin-left: 5%;
	margin-top: 10%;
	padding-left: 1%;
}



.tamanios3{
	color: #ffffff;
	text-align: left;
	font-size: 20px;
	width: 60px;
	height: 30px;
	background-color: #662594;
	margin-left:5%;
}

.tamanios4{
	color: #ffffff;
	text-align: left;
	font-size: 20px;
	width: 70px;
	height: 30px;
	background-color: #662594;
	margin-left:5%;
}



.footer3{
	grid-area: footer;
	background-color: #290252;
}